<div class="container" fxLayout="row">

  <div fxLayout="row" cdkDropListGroup fxFlex>
    <div class="controls-nav" cdkDropList [cdkDropListSortingDisabled]="true" [cdkDropListData]="formFields">
      <mat-nav-list>
        @for (field of formFields;track field) {
          <div class="available-field-box" cdkDrag>
            <p>
              <mat-icon>{{ field.icon }}</mat-icon>
            </p>
            <span>{{ field.name }}</span>
          </div>
        }
      </mat-nav-list>
    </div>
    <div class="form-builder" fxFlex>
      <div class="page">
        <div class="form-header d-flex justify-content-between">
          <div class="logo"><img src="../../../assets/images/logo_zwart.png"></div>
          <h1>Formulieren klant<br><span>Formulier maker</span></h1>
          <div class="spacer"></div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="form_controls"
          class="builder-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of form_controls;track item) {
            @if (selectedField?.id == item.id) {
              <button mat-mini-fab class="field-remove" (click)="removeField(item)">
                <mat-icon>close</mat-icon>
              </button>
            }

            <form-builder-control [formField]="item" (click)="selectField(item)"
                                  [selected]="selectedField?.id == item.id"></form-builder-control>
          } @empty {
            <div class="empty-form-builder">Voeg velden toe</div>
          }
        </div>
        <div class="add-icon">
          <button mat-mini-fab disabled="true" aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  @if (selectedField !== undefined) {
    <div class="control-options">
      <form-control-options [formField]="selectedField"></form-control-options>
    </div>
  }
</div>

