<div [formGroup]="form" class="question">
  <mat-radio-group class="field" aria-label="Select an option"
                   [required]="control?.options?.validators?.required ?? false"
                   [formControlName]="control!.id" [id]="control!.id" (focusout)="formService.onControlValueChanged(control!)">
    @for (choice of control?.options?.choices;track choice) {
      <mat-radio-button [value]="choice.value" color="primary">
        @if (choice?.quoteLine && isBuilder){<mat-icon [matTooltip]="choice?.quoteLine?.sku!" matTooltipPosition="above">request_quote</mat-icon>}
        @if (choice?.duration && isBuilder){<mat-icon [matTooltip]="choice?.duration!+'m'" matTooltipPosition="above">schedule</mat-icon>}
        {{ choice.value }}
      </mat-radio-button>
    }
    @if (control?.options?.customChoice){
      <mat-radio-button [value]="customValue" color="primary">
        <mat-form-field>
          <mat-label>Anders</mat-label>
          <input matInput [(ngModel)]="customValue" [ngModelOptions]="{standalone: true}"
                 (focusout)="updateCustom()">
        </mat-form-field>
      </mat-radio-button>
    }
  </mat-radio-group>
</div>
