<!--<mat-toolbar color="primary" class="navbar">-->

<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button class="mobile-menu-button" (click)="toggleMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/"><img [src]="selectedTheme.imageLight" alt="Logo" height="45" class="logo"></a>
  <div class="nav-menu">
    @for (route of routes; track $index) {
      @if (hasPermission(route.roles)) {
        @if (route.children && route.children.length > 0) {
          <button mat-button [matMenuTriggerFor]="menu" class="nav-menu-button">{{ route.title }}</button>
          <mat-menu #menu="matMenu">
            @for (sub of route.children; track sub) {
              @if (hasPermission(sub.roles ?? [])) {
                <button mat-menu-item [routerLink]="sub.path">
                  <mat-icon>{{ sub.icon }}</mat-icon>
                  {{ sub.title }}
                </button>
              }
            }
          </mat-menu>
        } @else {
          <button mat-button [routerLink]="route.path">{{ route.title }}</button>
        }
      }
    }
  </div>

  <span class="spacer"></span>

  <div class="profile" [matMenuTriggerFor]="profileMenu">
    <span class="profile-name">{{ currentUser?.name }}</span>
    <img [src]="currentUser?.image ? currentUser!.image : 'assets/images/user_placeholder.png'" alt="Profielfoto"
         height="45" class="profile-pic">
  </div>
</mat-toolbar>

<mat-menu class="profile-menu" #profileMenu="matMenu">
  <a mat-menu-item [matMenuTriggerFor]="enviroments">
    <mat-icon>apartment</mat-icon>
    Bedrijf
  </a>
  <mat-menu #enviroments="matMenu">
    @for (theme of themes; track theme) {
      <button (click)="selectTheme(theme.name)" class="menu-item" mat-menu-item>
        <mat-icon
          color="primary">{{ selectedTheme.name === theme.name ? 'radio_button_checked' : 'radio_button_unchecked' }}
          radio_button_checked
        </mat-icon>
        <span class="menu-item-label">{{ theme.displayName }}</span>
        <img class="menu-item-image" [src]="theme.imageDark">
      </button>
    }
  </mat-menu>
  <a mat-menu-item href="https://myaccount.microsoft.com/" target="_blank">
    <mat-icon>perm_identity</mat-icon>
    Mijn account
  </a>
  <a mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    logout
  </a>
</mat-menu>
