<div class="content">
  <div class="layout-content">
    <div class="page-header">
      <h1>Formulieren</h1>
      <button mat-flat-button color="accent" routerLink="create">
        Nieuw
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <hr>
    @defer (when forms !== null) {
      @for (form of forms;track form) {
        <mat-card [routerLink]="form.id+'/builder'">
          <mat-card-header>
            @if (form.published) {
              <mat-icon mat-card-avatar class="published-icon">check_circle_outlined</mat-icon>
            }
            <mat-card-title>{{ form.title }}</mat-card-title>
            <mat-card-subtitle>{{ form.kind }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <b>Aangemaakt:</b> {{form.createdBy}} {{form.createdAt | date: 'dd-MM-yyyy HH:mm'}}<br>
            <b>Laast gewijzigd:</b> {{form.updatedBy}} {{form.updatedAt | date: 'dd-MM-yyyy HH:mm'}}
          </mat-card-content>
        </mat-card>
      } @empty {
        <div>
          Nog geen formulieren aangemaakt
        </div>
      }
    } @placeholder ()  {
      <mat-spinner></mat-spinner>
    }
  </div>
</div>
