h1 {
  font-weight: 500;
}

.template-item {
  display: flex;
  align-items: center;

  mat-card {
    flex: 1;
    margin: 10px 0;
    background-color: white;

    &:hover {
      background-color: var(--primary-50);
      cursor: pointer;
    }

    .published-icon {
      font-size: 40px;
      color: #189383;
    }
  }
}
