<div class="content">
  <div class="layout-content">
    <div class="page-header">
      <h1>Formulieren</h1>
      <button mat-flat-button color="primary" routerLink="create">
        Nieuw
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <hr>
    @defer (when forms !== null) {
      @for (form of forms;track form) {
        <div class="template-item">
        <mat-card [routerLink]="form.id+'/builder'">
          <mat-card-header>
            @if (form.published) {
              <mat-icon mat-card-avatar class="published-icon">check_circle_outlined</mat-icon>
            }
            <mat-card-title>{{ form.title }}</mat-card-title>
            <mat-card-subtitle>{{ form.kind }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <b>Aangemaakt:</b> {{form.createdBy}} {{form.createdAt | date: 'dd-MM-yyyy HH:mm'}}<br>
            <b>Laast gewijzigd:</b> {{form.updatedBy}} {{form.updatedAt | date: 'dd-MM-yyyy HH:mm'}}
          </mat-card-content>
        </mat-card>
        <button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="duplicateForm(form)">
              <mat-icon>control_point_duplicate</mat-icon>
              <span class="menu-label">Dupliceren</span>
            </button>
            <button mat-menu-item (click)="deleteForm(form)">
              <mat-icon>delete</mat-icon>
              <span class="menu-label">Verwijderen</span>
            </button>
          </mat-menu>
        </div>
      } @empty {
        <div>
          Nog geen formulieren aangemaakt
        </div>
      }
    } @placeholder ()  {
      <mat-spinner></mat-spinner>
    }
    @if (loading) {
      <div class="loading-overlay fixed">
        <div class="loading"></div>
      </div>
    }
  </div>
</div>
