h1{
  font-weight: 500;
}
mat-card {
  margin: 10px 0;
  background-color: white;
  &:hover {
    background-color: var(--primary-50);
    cursor: pointer;
  }
  .published-icon {
    font-size: 40px;
    color: #189383;
  }
}
