.label {
  color: black;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid #0000004a;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.option-content{
  padding: 5px 0;
  & > * {
    width: 100%;
  }
}
.mat-mdc-dialog-content{
  width: 500px;
}
.mat-mdc-dialog-actions {
  border-top: 1px solid #334d9c;
}
