.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 20px;
  .wrapper-content{
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .news {
      flex: 1;
      padding: 0 20px;
      .home-header {
        padding: 15px 0;
        display: flex;
        letter-spacing: 0.7px;
        span{
          font-weight: bold;
          font-size: 32px;
          &.username {
            margin-left: 10px;
          }
        }
      }
      @media only screen and (max-width: 768px) {
        .home-header {
          padding: 10px 0;
          flex-direction: column;
          span{
            font-weight: normal;
            font-size: 18px;
            &.username {
              font-weight: bold;
              font-size: 32px;
              margin-left: 0;
            }
          }
        }
      }
    }
    .widgets{
      margin: 0 auto;
      width: 350px;
      mat-card {
        box-shadow: 0 4px 10px rgba(34, 35, 58, 0.2);
      }
      .widget {
        margin: 15px 0;
      }
      .appstore {
        margin-top: 20px;
        max-height: 65px;
        display: flex;
        vertical-align: center;
        a {
          flex: 1;
          padding: 5px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
