@if (formService.selectedControl$ | async;as control) {
  @if (control.options !== undefined) {
    <mat-card class="options-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>{{ control?.icon }}</mat-icon>
        </div>
        <mat-card-title class="header-title">{{ control?.title }}</mat-card-title>
        <mat-icon matRipple (click)="formService.onControlSelected(null)" class="header-close">close</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Opties">
            <div class="tab-content">
              @if (control.options.label !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Label</mat-label>
                  <input matInput [(ngModel)]="control.options!.label" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.note !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Extra informatie</mat-label>
                  <input matInput [(ngModel)]="control.options!.note" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.image !== undefined) {
                <div class="label">Afbeelding</div>
                <div class="tab-content">
                  <div class="dropzone" appDnd (fileDropped)="onFileDropped(control, $event)">
                    @if (control.options.image !== null) {
                      @if (progress === 0) {
                        <button mat-mini-fab class="remove-image"
                                (click)="removeImage(control, control.options.image!)">
                          <mat-icon>close</mat-icon>
                        </button>
                        <img [src]="control.options.image?.url+'?name='+control.options.image?.name" alt="image">
                      } @else {
                        <mat-spinner [diameter]="50"></mat-spinner>
                      }
                    } @else {
                      <input type="file" id="fileDropRef" accept="image/*"
                             (change)="fileBrowseHandler(control, $event)"/>
                      <label for="fileDropRef">Foto kiezen</label>
                    }
                  </div>
                  @if (progress !== 0) {
                    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                  }
                </div>
              }
              @if (control.options.title !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Titel</mat-label>
                  <input matInput [(ngModel)]="control.options!.title" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.subtitle !== undefined) {
                <div class="label">Subtitle</div>
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                <ngx-editor
                  [editor]="editor"
                  [placeholder]="'Type hier je tekst...'"
                  [(ngModel)]="control.options!.subtitle"
                ></ngx-editor>
              }
              @if (control.options.placeholder !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Placeholder</mat-label>
                  <input matInput [(ngModel)]="control.options!.placeholder" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.type !== undefined && control.type ==='TextBox') {
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select [(ngModel)]="control.options!.type" [ngModelOptions]="{standalone:true}">
                    @for (type of inputTypes;track type) {
                      <mat-option [value]="type.value">
                        {{ type.name }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (control.options.choices !== undefined) {
                <div class="label">Opties</div>
                <div class="tab-content">
                  @if (control.options!.customChoice !== undefined) {
                    <mat-slide-toggle [(ngModel)]="control.options!.customChoice">Anders</mat-slide-toggle>
                  }
                  <div cdkDropList class="options-list" (cdkDropListDropped)="drop(control.options.choices!, $event)">
                    @for (option of control.options.choices!;track option) {
                      <div class="option-box" cdkDrag>
                        <div class="option-box-placeholder" *cdkDragPlaceholder></div>
                        <mat-icon class="move-icon" cdkDragHandle>drag_indicator</mat-icon>
                        <mat-icon class="options-icon" (click)="openDialog(option)">settings</mat-icon>
                        <input [(ngModel)]="option.value" [ngModelOptions]="{standalone:true}">
                        <mat-icon class="close-icon" (click)="removeFromList(control.options.choices!, $index)">close
                        </mat-icon>
                      </div>
                    }
                  </div>
                  <button mat-button color="primary" (click)="addChoice(control.options.choices!)">+ optie toevoegen
                  </button>
                </div>
              }
              @if (control.value !== undefined) {
                <div class="label">Waarde</div>
                @if (control.options.choices !== undefined) {
                  @if (control.value | isArray) {
                    <mat-form-field>
                      <mat-label>Standaard waarde</mat-label>
                      <mat-select [multiple]="true" [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                                  (ngModelChange)="updateValue($event)">
                        @for (option of control.options.choices!;track option) {
                          <mat-option [value]="option.value">{{ option.value }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    <mat-form-field>
                      <mat-label>Standaard waarde</mat-label>
                      <mat-select [multiple]="false" [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                                  (ngModelChange)="updateValue($event)">
                        @for (option of control.options.choices!;track option) {
                          <mat-option [value]="option.value">{{ option.value }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  }
                } @else if (control.type === 'TextArea') {
                  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                  <ngx-editor
                    [editor]="editor"
                    [placeholder]="'Type hier je tekst...'"
                    [(ngModel)]="control.value"
                    (ngModelChange)="updateValue($event)"
                  ></ngx-editor>
                } @else {
                  <mat-form-field>
                    <mat-label>Standaard waarded</mat-label>
                    <input matInput [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                           (ngModelChange)="updateValue($event)" [type]="control.options.type ?? 'text'">
                  </mat-form-field>
                }
              }

            </div>
          </mat-tab>
          <mat-tab label="Geavanceerd">
            <div class="tab-content">
              @if (control.options.help !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Help</mat-label>
                  <input matInput [(ngModel)]="control.options!.help" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.validators !== undefined) {
                <div class="label">Regels</div>
                <div class="tab-content">
                  @if (control.options.validators.required !== undefined) {
                    <mat-slide-toggle [(ngModel)]="control.options.validators.required">Verplicht</mat-slide-toggle>
                  }
                  @if (control.options.type === 'number') {

                      <mat-form-field appearance="outline">
                        <mat-label>Min</mat-label>
                        <input matInput [(ngModel)]="control.options!.validators!.min"
                               [ngModelOptions]="{standalone:true}"
                               type="number">
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Max</mat-label>
                        <input matInput [(ngModel)]="control.options!.validators!.max"
                               [ngModelOptions]="{standalone:true}"
                               type="number">
                      </mat-form-field>

                  }
                </div>
              }
              @if (control.options.steps !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Stappen</mat-label>
                  <input matInput [(ngModel)]="control.options!.steps" [ngModelOptions]="{standalone:true}" type="number">
                </mat-form-field>
              }
              @if (control.options.visibility !== undefined) {
                <div class="label">Zichtbaarheid</div>
                <div class="tab-content">
                  <mat-slide-toggle [(ngModel)]="control.options.visibility.intern">
                    Intern zichtbaar
                  </mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="control.options.visibility.extern">
                    Extern zichtbaar
                  </mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="control.options.visibility.customer">
                    Zichtbaar voor klant
                  </mat-slide-toggle>
                  @if (control.options.visibility.showInForm !== undefined) {
                    <mat-slide-toggle [(ngModel)]="control.options.visibility.showInForm">
                      Zichtbaar in formulier
                    </mat-slide-toggle>
                  }
                </div>
              }
              @if (control.options.dependent !== undefined && (control.options.visibility?.showInForm === undefined || control.options.visibility?.showInForm)) {
                <div class="label mb">
                  <span>Afhankelijkheden</span>
                  <mat-icon matTooltip="Tonen wanneer {veld} heeft een van de volgende waardes">info</mat-icon>
                </div>
                @for (dependent of control.options.dependent;track dependent) {
                  @if (formService.findControlById(dependent.field);as depControl) {
                    @if ($index !== 0) {
                      <div class="dependent-separator">of</div>
                    }
                    <div class="dependent-row">
                      <mat-form-field class="dependent-field" appearance="outline">
                        <mat-label>{{ depControl.options!.label }}</mat-label>
                        <mat-select [multiple]="true" [(ngModel)]="dependent.values"
                                    [ngModelOptions]="{standalone:true}">
                          @for (choice of depControl.options!.choices!;track choice) {
                            <mat-option [value]="choice.value">{{ choice.value }}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-icon class="close-icon"
                                (click)="removeFromList(control.options.dependent!, $index);dependentControl.reset()">
                        delete
                      </mat-icon>
                    </div>
                  }
                } @empty {
                  <div class="no-items">
                    Nog geen afhankelijkheden
                  </div>
                }
                <hr>
                <form class="add-dependent" (ngSubmit)="addDependent(control.options.dependent!)">
                  <app-autocomplete-field [options]="dependentOptions" title="Veld"
                                          [searchFunction]="dependentSearchFunction"
                                          [formControl]="dependentControl"></app-autocomplete-field>
                  <button mat-raised-button color="primary" type="submit">
                    <mat-icon>add</mat-icon>
                  </button>
                </form>
              }

            </div>
          </mat-tab>
        </mat-tab-group>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  }
}
@if (formService.editForm$ | async) {
  <mat-card class="options-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>description</mat-icon>
      </div>
      <mat-card-title class="header-title">Formulier opties</mat-card-title>
      <mat-icon matRipple (click)="formService.toggleFormSettings()" class="header-close">close</mat-icon>
    </mat-card-header>
    <mat-card-content>
      @if (formService.form$ | async;as form) {
        <mat-tab-group>
          <mat-tab label="Algemeen">
            <div class="tab-content">
              <div class="margin-top">
                <mat-slide-toggle [(ngModel)]="form.published">Gepubliceerd</mat-slide-toggle>
              </div>
              <mat-form-field>
                <mat-label>Naam</mat-label>
                <input matInput [(ngModel)]="form.title" [ngModelOptions]="{standalone:true}">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Soort</mat-label>
                <input matInput [(ngModel)]="form.kind" [ngModelOptions]="{standalone:true}">
              </mat-form-field>
              <div class="margin-top">
                <mat-slide-toggle [(ngModel)]="form.options.model3D">3D Model</mat-slide-toggle>
              </div>
              <div class="label margin-bottom">Pagina's</div>
              <div cdkDropList class="options-list" (cdkDropListDropped)="drop(form.pages, $event)">
                @for (page of form.pages;track page) {
                  <div class="option-box" cdkDrag>
                    <div class="option-box-placeholder" *cdkDragPlaceholder></div>
                    <mat-icon class="move-icon" cdkDragHandle>drag_indicator</mat-icon>
                    <input [(ngModel)]="page.tab" [ngModelOptions]="{standalone:true}">
                    <mat-icon class="close-icon" (click)="removeFromList(form.pages, $index)">close</mat-icon>
                  </div>
                }
              </div>
              <button mat-button color="primary" (click)="addTab(form.pages)">+ pagina toevoegen</button>
            </div>
          </mat-tab>
          <mat-tab label="Offerte">
            <div class="tab-content">
              <div class="margin-top">
                <mat-slide-toggle [(ngModel)]="form.options.createQuotation">Maak offerte</mat-slide-toggle>
              </div>
              @if (form.options.createQuotation) {
                @for (line of form.options.quoteLines;track line) {
                  <div class="option-box">
                    <input [(ngModel)]="line.sku" placeholder="sku" [ngModelOptions]="{standalone:true}">
                    <input [(ngModel)]="line.order" type="number" placeholder="volgorde"
                           [ngModelOptions]="{standalone:true}">
                    <mat-icon class="close-icon" (click)="removeFromList(form.options.quoteLines!, $index)">close
                    </mat-icon>
                  </div>
                }
                <button mat-button color="primary" (click)="addQuoteLine()">+ Offerte regel
                  toevoegen
                </button>

                <div class="label margin-bottom margin-top">Maatvoering</div>
                <mat-form-field appearance="outline">
                  <mat-label>Berekening</mat-label>
                  <mat-select (valueChange)="selectSizeCalculation($event)"
                              [(ngModel)]="form.options.quoteSizeCalculation">
                    <mat-option [value]="'odo'">
                      ODO
                    </mat-option>
                    <!--              <mat-option [value]="'sdh'">-->
                    <!--                SDH-->
                    <!--              </mat-option>-->
                  </mat-select>
                </mat-form-field>
                @if (form.options.quoteSizeFields && propertyExists('width', form.options!.quoteSizeFields)) {
                  <app-autocomplete-field [options]="numberFields" title="Breedte"
                                          [searchFunction]="controlSearchFunction"
                                          [(ngModel)]="form.options.quoteSizeFields['width']"></app-autocomplete-field>
                }
                @if (form.options.quoteSizeFields && propertyExists('width', form.options!.quoteSizeFields)) {
                  <app-autocomplete-field [options]="numberFields" title="Hoogte"
                                          [searchFunction]="controlSearchFunction"
                                          [(ngModel)]="form.options.quoteSizeFields['height']"></app-autocomplete-field>
                }

              }
            </div>
          </mat-tab>
        </mat-tab-group>
      }
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="deleteForm()">Delete</button>
    </mat-card-actions>
  </mat-card>
}
