.options-card {
  width: 350px;
  margin: 10px;

  .header-close {
    border-radius: 50%;

    &:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }

  ::ng-deep {
    .mat-mdc-card-header-text {
      flex: 1;
    }
  }

  mat-card-content {
    & > * {
      width: 100%;
    }
  }
}
.clickable {
  cursor: pointer;
}
.help {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 20px;
  display: block;
}
mat-tab-group {
  border-top: 1px solid black;

  .tab-content {
    padding: 20px 0;
    width: 100%;

    & > * {
      width: 100%;
    }
  }
}
span{
  line-height: 30px;
}
.label {
  font-size: 16px;
  border-bottom: 1px solid #0000004a;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;

  &.mb {
    margin-bottom: 5px;
  }
}

.no-items {
  padding: 15px 0;
  color: gray;
}

.margin-top {
  margin-top: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}

mat-slide-toggle {
  padding: 0 10px;
  margin-bottom: 20px;
}

.dependent-separator {
  margin-left: 20px;
}

.dependent-row {
  display: flex;
  padding: 5px;

  .dependent-field {
    flex: 1;
  }

  mat-icon {
    margin: 16px 0;
  }

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.add-dependent {
  display: flex;


  app-autocomplete-field {
    flex: 1;
  }


  button {
    height: 56px;

    mat-icon {
      margin: 0;
    }
  }
}

.option-box {
  padding: 5px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  mat-icon {
    margin: 5px;

    &.move-icon {
      &:hover {
        cursor: move;
      }
    }

    &.close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  input {
    flex: 1;
    padding: 5px;
    margin: 0 2px;
    border-radius: 5px;
    border: 1px solid;
    min-width: 20px;
  }
}

.option-box-placeholder {
  background: #ccc;
  border-radius: 5px;
  border: dotted 3px #999;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dropzone {
  padding: 5px;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f1f1f1;
  .remove-image{
    z-index: 1;
    position: absolute;
    transform: translate(0, -20px);
    width: 30px !important;
    height: 30px;
  }
  img {
    width: 100%;
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  label {
    color: white;
    width: 160px;
    border-radius: 21.5px;
    padding: 4px 13px;
    display: inline-block;
    margin: 15px 0;
  }
}
.file-over {
  border-color: #999;
  background-color: #e2e2e2;
}
