@if (formService.selectedControl$ | async; as control) {
  @if (control.options !== undefined) {
    <mat-card class="options-card">
      <mat-card-header>
        <div mat-card-avatar matTooltip="Kopieer ID" class="clickable" [cdkCopyToClipboard]="control.id">
          <mat-icon>{{ control?.icon }}</mat-icon>
        </div>
        <mat-card-title class="header-title">{{ control?.title }}</mat-card-title>
        <mat-icon matRipple (click)="close()" class="header-close">close</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Opties">
            <div class="tab-content">
              @if (control.type === 'RadioBtn' || control.type === 'CheckBox' || control.type === 'Dropdown') {
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select [value]="control.type" (selectionChange)="changeControl(control, $event)">
                    <mat-option [value]="'RadioBtn'">
                      Enkele keuze
                    </mat-option>
                    <mat-option [value]="'CheckBox'">
                      Meerkeuze
                    </mat-option>
                    <mat-option [value]="'Dropdown'">
                      Dropdown
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              }
              @if (control.type === 'TextBox' || control.type === 'TextArea' || control.type == 'Slider') {
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select [value]="control.type" (selectionChange)="changeControl(control, $event)">
                    <mat-option [value]="'TextBox'">
                      Tekst veld
                    </mat-option>
                    <mat-option [value]="'TextArea'">
                      Textarea
                    </mat-option>
                    @if (control.options.type === 'number') {
                      <mat-option [value]="'Slider'">
                        Slider
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (control.options.label !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Label</mat-label>
                  <input matInput [(ngModel)]="control.options!.label" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.note !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Extra informatie</mat-label>
                  <input matInput [(ngModel)]="control.options!.note" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.image !== undefined) {
                <div class="label">Afbeelding</div>
                <div class="tab-content">
                  <div class="dropzone" appDnd (fileDropped)="onFileDropped(control, $event)">
                    @if (control.options.image !== null) {
                      @if (progress === 0) {
                        <button mat-mini-fab class="remove-image" color="warn"
                                (click)="removeImage(control, control.options.image!)">
                          <mat-icon>close</mat-icon>
                        </button>
                        <img [src]="control.options.image.url+'?name='+control.options.image.name" alt="image">
                      } @else {
                        <mat-spinner [diameter]="50"></mat-spinner>
                      }
                    } @else {
                      <input type="file" id="fileDropRef" accept="image/*"
                             (change)="fileBrowseHandler(control, $event)"/>
                      <label for="fileDropRef" class="primary">Foto kiezen</label>
                    }
                  </div>
                  @if (progress !== 0) {
                    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                  }
                </div>
              }
              @if (control.options.title !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Titel</mat-label>
                  <input matInput [(ngModel)]="control.options!.title" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.subtitle !== undefined) {
                <div class="label">Subtitle</div>
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                <ngx-editor
                  [editor]="editor"
                  [placeholder]="'Type hier je tekst...'"
                  [(ngModel)]="control.options!.subtitle"
                ></ngx-editor>
              }
              @if (control.options.placeholder !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Placeholder</mat-label>
                  <input matInput [(ngModel)]="control.options!.placeholder" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.type !== undefined && control.type === 'TextBox') {
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select [(ngModel)]="control.options!.type" [ngModelOptions]="{standalone:true}">
                    @for (type of inputTypes; track type) {
                      <mat-option [value]="type.value">
                        {{ type.name }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (control.options.type !== undefined && control.type === 'Calculation') {
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select [(ngModel)]="control.options!.type" [ngModelOptions]="{standalone:true}">
                    <mat-option [value]="'text'">
                      Tekst
                    </mat-option>
                    <mat-option [value]="'number'">
                      Nummer
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              }
              @if (control.options!.calcDuration !== undefined) {
                <mat-slide-toggle [(ngModel)]="control.options!.calcDuration" color="primary">Bereken tijd
                </mat-slide-toggle>
                @if (control.options!.calcDuration) {
                  <span class="help warn-50 warn-text">Gebruik "this.duration"</span>
                }
              }
              @if (control.options.choices !== undefined) {
                <div class="label">Opties</div>
                <div class="tab-content">
                  @if (control.options!.customChoice !== undefined) {
                    <mat-slide-toggle [(ngModel)]="control.options!.customChoice" color="primary">Anders
                    </mat-slide-toggle>
                  }
                  <div cdkDropList class="options-list" (cdkDropListDropped)="drop(control.options.choices!, $event)">
                    @for (option of control.options.choices!; track option) {
                      <div class="option-box" cdkDrag>
                        <div class="option-box-placeholder" *cdkDragPlaceholder></div>
                        <mat-icon class="move-icon" cdkDragHandle>drag_indicator</mat-icon>
                        <mat-icon class="options-icon" (click)="openDialog(option)">settings</mat-icon>
                        <input [(ngModel)]="option.value" [ngModelOptions]="{standalone:true}">
                        <mat-icon class="close-icon" (click)="removeFromList(control.options.choices!, $index)">close
                        </mat-icon>
                      </div>
                    }
                  </div>
                  <button mat-button color="primary" (click)="addChoice(control.options.choices!)">+ optie toevoegen
                  </button>
                </div>
              }
              @if (control.options.columns !== undefined) {
                <div class="label">Kolommen</div>
                <div class="tab-content">
                  <div cdkDropList class="options-list" (cdkDropListDropped)="drop(control.options.columns!, $event)">
                    @for (option of control.options.columns!; track option) {
                      <div class="option-box" cdkDrag>
                        <div class="option-box-placeholder" *cdkDragPlaceholder></div>
                        <mat-icon class="move-icon" cdkDragHandle>drag_indicator</mat-icon>
                        <input [(ngModel)]="option.key" [ngModelOptions]="{standalone:true}">
                        <select [(ngModel)]="option.type" [ngModelOptions]="{standalone:true}">
                          @for (option of inputTypes; track option) {
                            <option [value]="option.value">{{ option.name }}</option>
                          }
                        </select>
                        <mat-icon class="close-icon" (click)="removeFromList(control.options.columns!, $index)">close
                        </mat-icon>
                      </div>
                    }
                  </div>
                  <button mat-button color="primary" (click)="addColumn(control.options.columns!)">+ Kolom toevoegen
                  </button>
                </div>
              }
              @if (control.value !== undefined && control.type !== 'Table') {
                <div class="label">Waarde</div>
                @if (control.options.choices !== undefined) {
                  @if (control.value | isArray) {
                    <mat-form-field>
                      <mat-label>Standaard waarde</mat-label>
                      <mat-select [multiple]="true" [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                                  (ngModelChange)="updateValue($event)">
                        @for (option of control.options.choices!; track option) {
                          <mat-option [value]="option.value">{{ option.value }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    <mat-form-field>
                      <mat-label>Standaard waarde</mat-label>
                      <mat-select [multiple]="false" [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                                  (ngModelChange)="updateValue($event)">
                        <mat-option value=""></mat-option>
                        @for (option of control.options.choices!; track option) {
                          <mat-option [value]="option.value">{{ option.value }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  }
                } @else if (control.type === 'TextArea') {
                  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                  <ngx-editor
                    [editor]="editor"
                    [placeholder]="'Type hier je tekst...'"
                    [(ngModel)]="control.value"
                    (ngModelChange)="updateValue($event)"
                  ></ngx-editor>
                } @else if (control.type === 'Calculation') {
                  <mat-form-field>
                    <mat-label>Berekening</mat-label>
                    <textarea matInput [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                              (ngModelChange)="updateValue($event)" [type]="'text'"></textarea>
                  </mat-form-field>
                } @else {
                  <mat-form-field>
                    <mat-label>Standaard waarded</mat-label>
                    <input matInput [(ngModel)]="control.value" [ngModelOptions]="{standalone:true}"
                           (ngModelChange)="updateValue($event)" [type]="control.options.type ?? 'text'">
                  </mat-form-field>
                }
              }

            </div>
          </mat-tab>
          <mat-tab label="Geavanceerd">
            <div class="tab-content">
              @if (control.options.help !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Help</mat-label>
                  <input matInput [(ngModel)]="control.options!.help" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              }
              @if (control.options.validators !== undefined) {
                <div class="label">Regels</div>
                <div class="tab-content">
                  @if (control.options.validators.required !== undefined && control.options.dependent?.length === 0) {
                    <mat-slide-toggle [(ngModel)]="control.options.validators.required" color="primary">Verplicht
                    </mat-slide-toggle>
                  }
                  @if (control.options.type === 'number') {

                    <mat-form-field appearance="outline">
                      <mat-label>Min</mat-label>
                      <input matInput [(ngModel)]="control.options!.validators!.min"
                             [ngModelOptions]="{standalone:true}"
                             type="number">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Max</mat-label>
                      <input matInput [(ngModel)]="control.options!.validators!.max"
                             [ngModelOptions]="{standalone:true}"
                             type="number">
                    </mat-form-field>

                  }
                </div>
              }
              @if (control.options.steps !== undefined) {
                <mat-form-field appearance="outline">
                  <mat-label>Stappen</mat-label>
                  <input matInput [(ngModel)]="control.options!.steps" [ngModelOptions]="{standalone:true}"
                         type="number">
                </mat-form-field>
              }
              @if (control.options.visibility !== undefined) {
                <div class="label">Zichtbaarheid</div>
                <div class="tab-content">
                  <mat-slide-toggle [(ngModel)]="control.options.visibility.intern" color="primary">
                    Intern zichtbaar
                  </mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="control.options.visibility.extern" color="primary">
                    Extern zichtbaar
                  </mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="control.options.visibility.customer" color="primary">
                    Zichtbaar voor klant
                  </mat-slide-toggle>
                  @if (control.options.visibility.showInForm !== undefined) {
                    <mat-slide-toggle [(ngModel)]="control.options.visibility.showInForm" color="primary">
                      Zichtbaar in formulier
                    </mat-slide-toggle>
                  }
                </div>
              }
              @if (control.options.inApp !== undefined) {
                <div class="label">In app</div>
                <div class="tab-content">
                  <mat-slide-toggle [(ngModel)]="control.options.inApp" color="primary">
                    Zichtbaar in App
                  </mat-slide-toggle>
                </div>
              }
              @if (control.options.toDeal !== undefined) {
                <div class="label">Hubspot koppeling</div>
                <div class="tab-content">
                  <app-autocomplete-field [options]="hubspotFieldOptions" title="Hubspot veld"
                                          [searchFunction]="hubspotSearchFunction"
                                          [valueFunction]="hubspotValueFunction"
                                          [(ngModel)]="control.options!.toDeal"
                                         (selectionChange)="test($event, control)"
                  ></app-autocomplete-field>
                  <!--                  <mat-form-field appearance="outline">-->
                  <!--                    <mat-label>Veld id</mat-label>-->
                  <!--                    <input matInput [(ngModel)]="control.options!.toDeal" [ngModelOptions]="{standalone:true}">-->
                  <!--                  </mat-form-field>-->
                </div>
              }
              @if (control.options.dependent !== undefined && (control.options.visibility?.showInForm === undefined || control.options.visibility?.showInForm)) {
                <div class="label mb">
                  <span>Afhankelijkheden</span>
                  <mat-icon class="primary-text" matTooltip="Tonen wanneer {veld} heeft een van de volgende waardes">
                    info_outlined
                  </mat-icon>
                </div>
                @for (dependent of control.options.dependent; track dependent) {
                  @if (formService.findControlById(dependent.field); as depControl) {
                    @if ($index !== 0) {
                      <div class="dependent-separator">of</div>
                    }
                    <div class="dependent-row">
                      <mat-form-field class="dependent-field" appearance="outline">
                        <mat-label>{{ depControl.options!.label }}</mat-label>
                        <mat-select [multiple]="true" [(ngModel)]="dependent.values"
                                    [ngModelOptions]="{standalone:true}">
                          @for (choice of depControl.options!.choices!; track choice) {
                            <mat-option [value]="choice.value">{{ choice.value }}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <mat-icon class="close-icon"
                                (click)="removeFromList(control.options.dependent!, $index);dependentControl.reset()">
                        delete
                      </mat-icon>
                    </div>
                  }
                } @empty {
                  <div class="no-items">
                    Nog geen afhankelijkheden
                  </div>
                }
                <hr>
                <form class="add-dependent" (ngSubmit)="addDependent(control.options.dependent!)">
                  <app-autocomplete-field [options]="dependentOptions" title="Veld"
                                          [searchFunction]="dependentSearchFunction"
                                          [formControl]="dependentControl"></app-autocomplete-field>
                  <button mat-raised-button color="primary" type="submit">
                    <mat-icon>add</mat-icon>
                  </button>
                </form>
              }

            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }
}
