<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Configuratie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="line-items-scroll">
      @for (item of quoteItems; track item) {
        @if (item.sku) {
          <quotation-item [item]="item" [product]="getFetchedProduct(item.sku)"></quotation-item>
        }
      } @empty {
        <div class="item-placeholder">Nog geen gekozen specificaties</div>
      }
    </div>
    <div class="totals">
      <div class="total-item total">
        <div class="item-text name">
          <span class="txt"></span>
          <span class="txt">Totaal</span>
        </div>
        <div class="item-text price">
          <span class="txt">€ {{ calculateTotalPrice() | number : '1.2-2' }}</span>
        </div>
      </div>
      <div class="total-item btw">
        <div class="item-text name">
          <span class="txt"></span>
          <span class="txt">btw {{btw}}%</span>
        </div>
        <div class="item-text price">
          <span class="txt">€ {{ (calculateTotalPrice() * (btw/100)) | number : '1.2-2' }}</span>
        </div>
      </div>
      <div class=" total-item total">
        <div class="item-text name">
          <span class="txt">Totaal inclusief btw</span>
        </div>
        <div class="item-text price">
          <span class="txt">€ {{ (calculateTotalPrice() * ((btw/100)+1)) | number : '1.2-2' }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <ng-content select="[validate]"></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <ng-content select="[action]"></ng-content>
  </mat-card-actions>
</mat-card>
