.card-container {
  width: 350px;
  margin: 56px 20px 0 10px;
  //min-height: calc(100vh - 270px);

  .item-placeholder {
    text-align: center;
    padding: 15px 10px 30px 10px;
    color: #B2B2B2;
  }

  mat-card-title {
    padding: 8px 0 14px 0 !important;
  }

  .line-items-scroll {
    max-height: calc(100vh - 370px); // Hoogte van de kaart minus de hoogte van de totals
    overflow-y: auto;
  }

  .totals {
    min-height: 66px;
    border-top: solid 1px black;
    display: grid;
    grid-template-columns: 190px 1fr;
    padding: 0 10px;

    .item-text {
      padding: 12px 0 10px 0;

      .txt {
        color: #4a4a49;
        font-size: 15px;
        line-height: 18px;
        display: block;
      }

      &.price {
        text-align: right;

        .txt {
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }
  }

}

.configuration-item {
  min-height: 66px;
  border-top: solid 1px #e8e8e8;
  display: grid;
  transition: all .3s;
  padding: 0 10px;

  &.grid {
    grid-template-columns: 190px 1fr;
  }

  .item-text {
    padding: 12px 0 10px 0;

    .txt {
      color: #4a4a49;
      font-size: 13px;
      line-height: 18px;
      display: block;
    }

    .sku {
      font-size: 11px;
      line-height: 16px;
      color: #8a8a89;
      display: block;
    }

    &.price {
      text-align: right;

      .txt {
        padding-top: 16px;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
}
