.control-options {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 350px;
  box-shadow: 0 0 11px rgb(0 0 0 / 12%);
  min-height: calc(100% - 20px);

  & > * {
    width: 100%;
  }
  ::ng-deep {
    .mat-mdc-tab-body {
      height: calc(100vh - 270px);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;

  .title {
    display: flex;
    margin-top: 7px;

    mat-icon {
      margin: 5px;
    }
  }
}

mat-tab-group {
  border-top: 1px solid black;
  margin-top: 5px;

  .tab-content {
    padding: 20px 0;
    width: 100%;

    .label {
      font-size: 16px;
      border-bottom: 1px solid #0000004a;
      padding-bottom: 4px;
      display: flex;
      justify-content: space-between;

      &.mb {
        margin-bottom: 5px;
      }

      mat-icon {
        background-color: #334d9c;
        color: #eaedf5;
        border-radius: 50%;
      }
    }

    & > * {
      width: 100%;
    }
  }
}

.no-items {
  padding: 15px 0;
  color: gray;
}

.margin-top {
  margin-top: 10px;
}

mat-slide-toggle {
  padding: 0 10px;
  margin-bottom: 20px;
}

.dependent-separator {
  margin-left: 20px;
}

.dependent-row {
  display: flex;
  padding: 5px;

  .dependent-field {
    flex: 1;
  }

  mat-icon {
    margin: 16px 0;
  }

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.add-dependent {
  display: flex;

  ngx-select-dropdown {
    flex: 1;
    height: 36px;
  }

  button {
    height: 30px;

    mat-icon {
      margin: 0;
    }
  }
}

.option-box {
  padding: 5px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  mat-icon {
    margin: 5px;

    &.move-icon {
      &:hover {
        cursor: move;
      }
    }

    &.close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
  }
}

.option-box-placeholder {
  background: #ccc;
  border-radius: 5px;
  border: dotted 3px #999;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
