mat-drawer-content {
  overflow: visible;
}

::ng-deep {
  .mdc-tab {
    min-width: 160px !important;
  }

  mat-spinner {
    &.white {
      circle {
        stroke: white !important;
      }
    }
  }
}

.quotation-toggle {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  right: -10px;
  top: 76px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 12px 15px 12px 9px;
  box-shadow: var(--mdc-elevated-card-container-elevation);
}

mat-drawer {
  border: none !important;
  background-color: transparent;
  box-shadow: none;
}

.form-builder {
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 113px);
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background-accent);
}

// Stijlen voor de knoppen en schakelaars
.buttons {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  button,
  mat-slide-toggle {
    margin: 10px 0 10px 10px;

    mat-icon {
      margin: 0;
    }
  }
}

.form-body {
  padding: 20px;
}

.form-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;

}
