.empty-form-builder {
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  border: 2px dashed black;
  border-radius: 5px;
}

.form-field-placeholder {
  background: #ccc;
  border: dashed 3px #999;
  border-radius: 5px;
  min-height: 150px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field-remove {
  z-index: 1;
  position: absolute;
  background-color: #cc0000;
  transform: translate(-20px, -20px);
  width: 30px !important;
  height: 30px;
}

.drop-container {
  margin-bottom: 80px;
}
.control-container {
  padding: 5px;
  border-radius: 5px;
  &.selected {
    box-shadow: 0 0 11px #334d9c;
  }
}

.control-container,
.drag-preview {
  display: flex;
  flex-wrap: wrap;
  &>* {
    width: 100%;
  }
}

mat-label.label {
  background-color: #ebf2f4;
  padding: 10px;
  font-weight: 500;
}

.margin-top {
  margin-top: 7px;
}

.outline {
  border: 2px dashed #dee2e6;
  min-height: 180px;
}

.drag-preview {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: lightblue;

  .material-icons {
    width: 24px;
    margin-right: 0.5rem;
  }
}
