@if (isBuilder) {
  <div
    [id]="id"
    [class.outline]="showOutline"
    [class.drop-container]="id=='form'"
    cdkDropList
    [cdkDropListData]="container!.controls"
    (cdkDropListDropped)="dropped($event)"
    [cdkDropListConnectedTo]="connectedLists"
    [cdkDropListEnterPredicate]="allowDropPredicate"
  >
    @for (item of container!.controls; track item) {
      @if (showControl(item) || showInvisible) {
        <div
          class="control-container"
          [class.selected]="item.id == selectedControl?.id"
          cdkDrag
          [cdkDragData]="item"
          (cdkDragMoved)="dragMoved($event)"
          (cdkDragReleased)="dragReleased($event)"
          (click)="selectControl(item);$event.stopPropagation()"
        >
          @if (item.id === selectedControl?.id) {
            <button mat-mini-fab class="field-remove" (click)="removeControl(container!.controls, $index)">
              <mat-icon>close</mat-icon>
            </button>
          }
          @if (item.id !== selectedControl?.id) {
            <div cdkDragHandle></div>
          }
          @if (item.options && item.options.label && item.options.label !== '') {
            <mat-label class="label">
              <span>
                {{ item.options!.label }}
                @if (item.options.note) {
                  <span class="note">({{ item.options.note }})</span>
                }
                @if (item.options.validators?.required) {
                  *
                }
              </span>
              <div>
                @if (item.options.help && item.options.help !== '') {
                  <mat-icon [matTooltip]="item.options.help!" matTooltipPosition="above" class="help-icon">
                    info_outlined
                  </mat-icon>
                }
                @if (!showControl(item) && showInvisible) {
                  <mat-icon>visibility_off</mat-icon>
                } @else if (item.options.dependent!.length > 0) {
                  <mat-icon>visibility_on</mat-icon>
                }
              </div>
            </mat-label>
          }
          @if (item.options!.image) {
            @if (item.options?.image?.url) {
              <img [src]="item.options?.image?.url+'?name='+item.options?.image?.name" class="control-image"
                   alt="Afbeelding">
            } @else {
              <mat-spinner [diameter]="50"></mat-spinner>
            }
          }
          <div class="drag-placeholder" *cdkDragPlaceholder>
            <p>
              <mat-icon>{{ item.icon }}</mat-icon>
            </p>
            {{ item.title }}
          </div>
          <div class="drag-preview" *cdkDragPreview>
            <p>
              <mat-icon>{{ item.icon }}</mat-icon>
            </p>
            {{ item.title }}
          </div>
          <ng-container *ngTemplateOutlet="controlSwitch; context: {item:item}"></ng-container>
        </div>
      }
    }
  </div>
} @else {
  @for (item of container!.controls; track item) {
    @if (showControl(item)) {
      <div
        class="control-container"
        [class.selected]="item.id == selectedControl?.id"
      >
        @if (item.options && item.options.label && item.options.label !== '') {
          <mat-label class="label">
            <span>{{ item.options!.label }}
              @if (item.options.note) {
                <span class="note">({{ item.options.note }})</span>
              }
              @if (item.options.validators?.required) {
                *
              }
            </span>
            @if (item.options.help && item.options.help !== '') {
              <mat-icon [matTooltip]="item.options.help!" matTooltipPosition="above" class="help-icon">info_outlined
              </mat-icon>
            }
          </mat-label>
        }
        @if (item.options?.image) {
          <img [src]="item.options?.image?.url+'?name='+item.options?.image?.name" class="control-image"
               alt="Afbeelding">
        }
        <ng-container *ngTemplateOutlet="controlSwitch; context: {item:item}"></ng-container>
      </div>
    }
  }
}
<ng-template #controlSwitch let-item='item'>
  @if (formService.formGroup$ | async; as formGroup) {
    @switch (item.type) {
      @case ('InfoBox') {
        <app-info-box [control]="item" [selected]="item.id == selectedControl?.id"
                      [isBuilder]="isBuilder"></app-info-box>
      }
      @case ('InfoImage') {
        <app-info-image [control]="item" [selected]="item.id == selectedControl?.id"
                      [isBuilder]="isBuilder"></app-info-image>
      }
      @case ('Divider') {
        <app-divider [control]="item" [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-divider>
      }
      @case ('TextBox') {
        <app-text-box class="margin-top" [control]="item" [form]="formGroup"
                      [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-text-box>
      }
      @case ('Slider') {
        <app-slider class="margin-top" [control]="item" [form]="formGroup"
                      [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-slider>
      }
      @case ('TextArea') {
        <app-text-area [control]="item" [form]="formGroup"
                       [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-text-area>
      }
      @case ('Dropdown') {
        <app-dropdown class="margin-top" [control]="item" [form]="formGroup"
                      [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-dropdown>
      }
      @case ('CheckBox') {
        <app-check-box class="margin-top" [control]="item" [form]="formGroup"
                       [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-check-box>
      }
      @case ('RadioBtn') {
        <app-radio-btn class="margin-top" [control]="item" [form]="formGroup"
                       [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-radio-btn>
      }
      @case ('ImageUpload') {
        <app-upload class="margin-top" [control]="item" [form]="formGroup"
                    [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-upload>
      }
      @case ('FileUpload') {
        <app-upload class="margin-top" [control]="item" [form]="formGroup"
                    [selected]="item.id == selectedControl?.id" [isBuilder]="isBuilder"></app-upload>
      }
      @case ('Columns') {
        <app-form-columns
          [control]="item" [selected]="item.id == selectedControl?.id" [showInvisible]="showInvisible"
          [isBuilder]="isBuilder"
        ></app-form-columns>
      }
    }
  }
</ng-template>
