<mat-form-field class="field" [formGroup]="form">
  <mat-label>{{control?.options?.title}}</mat-label>
  <mat-select [required]="control?.options?.validators?.required ?? false" [formControlName]="control!.id" [id]="control!.id" (selectionChange)="formService.onControlValueChanged(control!)">
    @for (choice of control?.options?.choices;track choice) {
      <mat-option [value]="choice.value">
        @if (choice?.quoteLine && isBuilder){<mat-icon>request_quote</mat-icon>}
        @if (choice?.duration && isBuilder){<mat-icon>schedule</mat-icon>}
        {{choice.value}}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
