<div class="form background-accent content">
  @if (showAppLink) {
    <a mat-raised-button color="primary" href="https://differentgroup.nl/customers/1">Open app</a>
  }
  <app-form-page [title]="customer !== null ? customer.name : 'Configuraties'" [prevLink]="'/customers'">
    @defer (when customer !== null) {
      <div class="form-content">
        @if (customer !== null) {
          <h2 class="bg-white">Nieuw formulier aanmaken</h2>
          <div class="search bg-white">
            <mat-form-field appearance="fill" class="w75">
              <mat-label>Formulier</mat-label>
              <mat-select [(ngModel)]="newForm">
                @for (group of templates|keyvalue; track group) {
                  <mat-optgroup [label]="group.key">
                    @for (temp of group.value; track temp) {
                      <mat-option [value]="temp">
                        {{ temp.title }}
                      </mat-option>
                    }
                  </mat-optgroup>
                }
              </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="addConfiguration(newForm!)"
                    [disabled]="newForm===null">
              <mat-icon>add</mat-icon>
              Aanmaken
            </button>
          </div>
          <hr>
          <div class="configurations-header">
            <h2>Configuraties</h2>
            <div>
              <a mat-button color="primary"
                 href="https://configurations.{{selectedTheme?.name === 'ambassa-theme' ? 'ambassa': 'differentdoors'}}.nl/customers/{{customer.id}}?sig={{customer.signature}}"
                 target="_blank">Klant portaal</a>
              <a mat-button color="primary"
                 href="https://app-eu1.hubspot.com/contacts/25493451/record/0-3/{{customer.dealId}}"
                 target="_blank">
                <img class="hubspot-icon" src="../../../../../assets/images/icons/hubspot.png">
              </a>
            </div>
          </div>

          @defer (when configurations !== null) {
            @for (config of configurations; track config) {
              <mat-card>
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{ config.title }}</mat-card-title>
                    <mat-card-subtitle>{{ config.updatedBy }} {{ config.updatedAt | date: 'dd-MM-yyyy HH:mm' }}
                      @if (config.amount) {
                        <span class="label amount"><mat-icon [matTooltip]="'€'+config.amount"
                                                             matTooltipPosition="above">request_quote</mat-icon></span>
                      }
                      @if (config.published) {
                        <span class="label published">Gepubliceerd</span>
                      }
                    </mat-card-subtitle>
                    @if (isFORMULIEREN) {
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="duplicateForm(config)">
                          <mat-icon>control_point_duplicate</mat-icon>
                          <span class="menu-label">Dupliceren</span>
                        </button>
                        <button mat-menu-item (click)="moveForm(config)">
                          <mat-icon>swap_horiz</mat-icon>
                          <span class="menu-label">Verplaatsen</span>
                        </button>
                        <button mat-menu-item (click)="deleteConfig(config, $index)">
                          <mat-icon>delete</mat-icon>
                          <span class="menu-label">Verwijderen</span>
                        </button>
                      </mat-menu>
                    }
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  @if (isFORMULIEREN) {
                    <button mat-raised-button color="primary"
                            [routerLink]="'/customers/'+customer!.dealId+'/configurations/'+config.id+'/edit'">
                      <mat-icon>edit</mat-icon>
                      <span class="menu-label">Bewerken</span></button>
                  }
                  <button mat-button color="primary"
                          [routerLink]="'/customers/'+customer!.dealId+'/configurations/'+config.id"
                          [queryParams]="{type:'intern'}">
                    <mat-icon>remove_red_eye</mat-icon>
                    <span class="menu-label">Bekijken</span></button>
                </mat-card-actions>
              </mat-card>
            } @empty {
              <div class="empty">Nog geen configuraties</div>
            }
          } @placeholder {
            <mat-spinner></mat-spinner>
          }
        }
      </div>
    }
    @if (loading) {
      <div class="loading-overlay fixed">
        <div class="loading"></div>
      </div>
    }
  </app-form-page>

</div>

