<mat-card class="options-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>description</mat-icon>
    </div>
    <mat-card-title class="header-title">Formulier opties</mat-card-title>
    <mat-icon matRipple (click)="close()" class="header-close">close</mat-icon>
  </mat-card-header>
  <mat-card-content>
    @if (formService.form$ | async;as form) {
      <mat-tab-group>
        <mat-tab label="Algemeen">
          <div class="tab-content">
            <div class="margin-top">
              <mat-slide-toggle [(ngModel)]="form.published" color="primary">Gepubliceerd</mat-slide-toggle>
            </div>
            <mat-form-field>
              <mat-label>Naam</mat-label>
              <input matInput [(ngModel)]="form.title" [ngModelOptions]="{standalone:true}">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Soort</mat-label>
              <input matInput [(ngModel)]="form.kind" [ngModelOptions]="{standalone:true}">
            </mat-form-field>
            <div class="margin-top">
              <mat-slide-toggle [(ngModel)]="form.options.model3D" color="primary">3D Model</mat-slide-toggle>
            </div>
            <div class="label margin-bottom">Pagina's</div>
            <div cdkDropList class="options-list" (cdkDropListDropped)="drop(form.pages, $event)">
              @for (page of form.pages;track page) {
                <div class="option-box" cdkDrag>
                  <div class="option-box-placeholder" *cdkDragPlaceholder></div>
                  <mat-icon class="move-icon" cdkDragHandle>drag_indicator</mat-icon>
                  <input [(ngModel)]="page.tab" [ngModelOptions]="{standalone:true}">
                  <mat-icon class="close-icon" (click)="removeFromList(form.pages, $index)">close</mat-icon>
                </div>
              }
            </div>
            <button mat-button color="primary" (click)="addTab(form.pages)">+ pagina toevoegen</button>
          </div>
        </mat-tab>
        <mat-tab label="Offerte">
          <div class="tab-content">
            <div class="margin-top">
              <mat-slide-toggle [(ngModel)]="form.options.createQuotation" color="primary">Maak offerte
              </mat-slide-toggle>
            </div>
            @if (form.options.createQuotation) {
              @for (line of form.options.quoteLines;track line) {
                <div class="option-box">
                  <input [(ngModel)]="line.sku" placeholder="sku" [ngModelOptions]="{standalone:true}">
                  <input [(ngModel)]="line.order" type="number" placeholder="volgorde"
                         [ngModelOptions]="{standalone:true}">
                  <mat-icon class="close-icon" (click)="removeFromList(form.options.quoteLines!, $index)">close
                  </mat-icon>
                </div>
              }
              <button mat-button color="primary" (click)="addQuoteLine()">+ Offerte regel
                toevoegen
              </button>

              <div class="label margin-bottom margin-top">Maatvoering</div>
              <mat-form-field appearance="outline">
                <mat-label>Berekening</mat-label>
                <mat-select (valueChange)="selectSizeCalculation($event)"
                            [(ngModel)]="form.options.quoteSizeCalculation">
                  <mat-option [value]="'odo'">ODO</mat-option>
                  <mat-option [value]="'sdh'">SDH</mat-option>
                </mat-select>
              </mat-form-field>
              @if (form.options.quoteSizeFields && propertyExists('width', form.options!.quoteSizeFields)) {
                <app-autocomplete-field [options]="numberFields" title="Breedte"
                                        [searchFunction]="controlSearchFunction"
                                        [(ngModel)]="form.options.quoteSizeFields['width']"></app-autocomplete-field>
              }
              @if (form.options.quoteSizeFields && propertyExists('width', form.options!.quoteSizeFields)) {
                <app-autocomplete-field [options]="numberFields" title="Hoogte"
                                        [searchFunction]="controlSearchFunction"
                                        [(ngModel)]="form.options.quoteSizeFields['height']"></app-autocomplete-field>
              }
              @if (form.options.quoteSizeFields && propertyExists('sizeTable', form.options!.quoteSizeFields)) {
                <span class="help warn-50 warn-text">Gebruikt kolom "Breedte" en "Hoogte"</span>
                <app-autocomplete-field [options]="tableFields" title="Tabel"
                                        [searchFunction]="controlSearchFunction"
                                        [(ngModel)]="form.options.quoteSizeFields['sizeTable']"></app-autocomplete-field>
              }
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    }
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="deleteForm()">Delete</button>
  </mat-card-actions>
</mat-card>

