@if (control) {
  <div class="row">
    @for (column of control.columns; track column) {
      <div class="column">
        @if (hasMinColumns(1) && selected && isBuilder) {
          <button mat-mini-fab class="remove-column-btn" color="warn" (click)="removeColumn($index)">
            <mat-icon>remove</mat-icon>
          </button>
        }

        <app-form-container [container]="column.container" [showOutline]="selected||column.container.controls.length==0" [showInvisible]="showInvisible" [isBuilder]="isBuilder"></app-form-container>
      </div>
    }
    @if (hasMaxColumns(3) && selected && isBuilder) {
      <button class="add-column-btn" color="primary" mat-mini-fab (click)="addColumn()">
        <mat-icon>add</mat-icon>
      </button>
    }
  </div>
}

