.bg-white {
  background-color: white !important;
}

.form {
  padding: 20px;

  .form-content {
    flex: 1;
    background-color: #fafafa;

    h2 {
      font-weight: 500;
      padding: 1rem;
      margin: 0;
    }

    hr {
      margin: 0;
    }

    mat-card {
      background-color: white;
      margin: 10px;

      mat-card-header {
        padding: 10px !important;

        &.clickable {
          &:hover {
            cursor: pointer;
            background-color: #eaedf5;
          }
        }
      }

      mat-card-actions {
        button {
          margin-right: 10px;
        }
      }
    }

    .search {
      display: flex;
      justify-content: center;
      padding-top: 25px;
      padding-bottom: 35px;

      button {
        height: 55px
      }
    }

    .empty {
      text-align: center;
      font-size: 16px;
      padding: 10px;
    }
  }
}

.menu-label {
  padding-left: 15px;
}
