.image{
  margin-top: 5px;
}
label {
  color: white;
  width: 160px;
  border-radius: 21.5px;
  background-color: #334d9c;
  padding: 4px 8px;
}
span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #38424c;
  margin: 5px;
}
