<mat-drawer-container class="container background-accent content" [hasBackdrop]="false">

  <mat-drawer #drawer mode="side" position="end">
    <app-configuration-history></app-configuration-history>
  </mat-drawer>

  <mat-drawer-content class="form">
    <div class="buttons">
      <div></div>
      <div>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
          {{ visibleFor.label }}
        </button>
        <mat-menu #menu="matMenu">
          @for (view of viewOptions; track view) {
            <button mat-menu-item (click)="changeVisibleFor(view)">{{ view.label }}</button>
          }
        </mat-menu>
        @if(isFORMULIEREN) {
          <button mat-raised-button color="primary" [routerLink]="'edit'">
            <mat-icon>edit</mat-icon>
          </button>
        }
      </div>
    </div>
    <div class="quotation-toggle" (click)="drawer.toggle()">
      <mat-icon>history</mat-icon>
    </div>
    <app-form-page [title]="configuration?.title??''" [subtitle]="configuration?.customer?.name??''"
                   prevLink="/customers/{{configuration?.customer?.dealId}}">
      <div class="form-content">
        @if (!loading) {
          <div class="form-section">
            <br>
            <table>
              <tr>
                <th>Aangemaakt door</th>
                <td colspan="3">{{ configuration?.createdBy }}</td>
              </tr>
            </table>
            @if (configuration?.updatedAt) {
              <table>
                <tr>
                  <th>Laatst aangepast</th>
                  <td
                    colspan="3">{{ configuration?.updatedAt|date: 'dd-MM-yyyy HH:mm' }} {{ configuration?.updatedBy }}
                  </td>
                </tr>
              </table>
            }
            @if (configuration?.customer?.dealId) {
              <table>
                <tr>
                  <th>Referentie</th>
                  <td colspan="3">P{{ configuration?.customer?.dealId }}</td>
                </tr>
              </table>
            }
          </div>
          @if (configuration?.preview) {
            @if (configuration?.preview?.url3D) {
              <iframe style="height: 500px; width: 100%" [src]="safe3dUrl"
                      frameborder="0"></iframe>
            }
          }
          @for (page of configuration?.values; track page) {
            @if (page.values.length > 0) {
              <div class="form-section" [class.first]="$first">
                <h2>{{ page.page }}</h2>
                @for (value of page.values; track value) {

                  @switch (value.type) {
                    @case ('TextArea') {
                      <h3>{{ value.title }} @if (value.subtitle) {
                        <span>({{ value.subtitle }})</span>
                      }</h3>
                      <div [innerHTML]="value.value | safeHtml"></div>
                    }
                    @case ('InfoBox') {
                      <h3>{{ value.title }}</h3>
                      <div [innerHTML]="value.subtitle | safeHtml"></div>
                    }
                    @case ('InfoImage') {
                      @if (value.value) {
                        <img [src]="value.value.url+'?name='+value.value.name" alt="afbeelding">
                      }
                    }
                    @case ('Divider') {
                      <hr>
                    }
                    @case ('ImageUpload') {
                      <h3>{{ value.title }} @if (value.subtitle) {
                        <span>({{ value.subtitle }})</span>
                      }</h3>
                      <img [src]="value.value.url+'?name='+value.value.name" alt="afbeelding">
                    }
                    @case ('FileUpload') {
                      <h3>{{ value.title }} @if (value.subtitle) {
                        <span>({{ value.subtitle }})</span>
                      }</h3>
                      <div class="files-list">
                        <a class="single-file" [href]="value.value.url" target="_blank">
                          <div class="file-icon" style="width: 40px; height: 36px">
                            <img src="../../../../../assets/images/file-icon.svg" alt="icon">
                          </div>
                          <div class="info">
                            <div class="name">
                              {{ value.value.name }}
                            </div>
                          </div>
                        </a>
                      </div>
                    }
                    @case ('Table') {
                      <table>
                        @for (valueRow of value.value; track valueRow) {
                          <tr>
                            @for (column of value.fields; track column) {
                              @if ($first) {
                                <th>{{ valueRow[column.key] }}</th>
                              } @else {
                                <td>{{ column.key }}: {{ valueRow[column.key] }}</td>
                              }
                            }
                          </tr>
                        }
                      </table>
                    }
                    @default {
                      <table>
                        <tr>
                          <th>{{ value.title }}<br>@if (value.subtitle) {
                            <span>({{ value.subtitle }})</span>
                          }</th>
                          @if (value.columns) {
                            @for (index of [0, 1, 2]; track index) {
                              @if (value.columns[index]) {
                                <td>
                                  @if (value.columns[index].title) {
                                    <span>{{ value.columns[index].title }}:</span>
                                  }
                                  {{ (value.columns[index].value|isArray) ? value.columns[index].value.join(', ') :value.columns[index].value }}
                                </td>
                              }
                            }
                          } @else if (!value.columns) {
                            <td colspan="3">{{ (value.value|isArray) ? value.value.join(', ') :value.value }}</td>
                          }
                        </tr>
                      </table>
                    }
                  }
                }
              </div>
            }
          } @empty {
            <div class="empty-placeholder text-center">
              Deze configuratie leeg
            </div>
          }
        } @else {
          <mat-spinner></mat-spinner>
        }
      </div>
    </app-form-page>

  </mat-drawer-content>
</mat-drawer-container>
