.field {
  width: 100%;
}


.slider-item {
  width: 100%;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #e8e8e8;
  //border-bottom: 4px solid rgba(51, 77, 156, 0.24);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 14px 5px;

  button {
    height: 35px;
    width: 35px;
  }

  span {
    font-weight: 600;
    font-size: 15px;
  }
}
.slider-control {
  padding: 0 7px;
}
mat-slider {
  margin-left: 0;
  margin-top: -26px;
}
::ng-deep {
  //.mdc-slider__track--inactive {
  //  opacity: 0 !important;
  //}
}


