// Stijlen voor de knoppen en schakelaars
.buttons {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  button,
  mat-slide-toggle {
    margin: 10px;

    mat-icon {
      margin: 0;
    }
  }
}
.tab-icon{
  margin: 0 10px;
}

::ng-deep {
  .mdc-tab {
    min-width: 160px;
  }

  mat-spinner {
    &.white {
      circle {
        stroke: white !important;
      }
    }
  }
}

mat-drawer-content {
  width: 100%;
}

mat-drawer {
  border: none !important;
  background-color: #fafafa;
  box-shadow: none;

  &.transparent {
    background-color: transparent;
  }
}

.form-builder {
  box-shadow: 0 0 11px rgb(0 0 0 / 12%);
  padding: 0 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 113px);
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background-accent);

  .form-body {
    padding: 20px;
  }

  .form-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}
