<mat-drawer-container class="background-accent" fxLayout="row" [hasBackdrop]="false">
  <mat-drawer [opened]="true" mode="side">
    <app-new-controls></app-new-controls>
  </mat-drawer>
  <mat-drawer [opened]="settingsDrawer" class="transparent" mode="side" position="end">
    @if (formSettings) {
      <app-form-options (onClose)="settingsDrawer=false"></app-form-options>
    } @else {
      <app-control-options (onClose)="settingsDrawer=false"></app-control-options>
    }
  </mat-drawer>

  <mat-drawer-content (click)="unSelect()">
    <div class="form-builder">
      @if (formService.form$ | async;as form) {
        <div class="buttons">
          <div></div>
          <div>
            <mat-slide-toggle [(ngModel)]="showInvisible" color="primary">verborgen velden</mat-slide-toggle>
            <button mat-raised-button color="primary" [disabled]="loading" (click)="saveForm()">
              <mat-icon *ngIf="!loading">save</mat-icon>
              <mat-spinner class="white" *ngIf="loading" [diameter]="20">save</mat-spinner>

            </button>
            <button mat-raised-button color="primary" (click)="openFormSettings();$event.stopPropagation()">
              <mat-icon>settings</mat-icon>
            </button>
          </div>

        </div>
        <app-form-page [title]="form.title">
          @defer (when form.pages.length > 0) {
            <form [formGroup]="formService.formGroup$.getValue()">
              @if (form.pages.length > 1) {
                <mat-tab-group [(selectedIndex)]="tabIndex">
                  @for (page of form.pages;track page) {
                    @if (showPage(page) || showInvisible) {
                    <mat-tab>
                      <ng-template mat-tab-label>
                        @if (!showPage(page) && showInvisible) {
                          <mat-icon class="tab-icon">visibility_off</mat-icon>
                        } @else if (page.dependent && page.dependent!.length > 0) {
                          <mat-icon class="tab-icon">visibility_on</mat-icon>
                        }
                        {{page.tab!}}
                      </ng-template>
                      <div class="form-body">
                        <app-form-container
                          [id]="'form'"
                          [container]="page"
                          [showOutline]="page.controls.length ==0"
                          [showInvisible]="showInvisible"
                          [isBuilder]="true"
                        ></app-form-container>
                      </div>
                      <div class="form-footer">
                        <button mat-raised-button color="primary" (click)="prev()"
                                [disabled]="tabIndex==0">Vorige
                        </button>
                        @if (tabIndex != (tabCount - 1)) {
                          <button mat-raised-button color="primary" (click)="next()">Volgende</button>
                        }
                        @if (tabIndex == (tabCount - 1) && form.options.createQuotation) {
                          <button mat-raised-button color="primary" [disabled]="true">Offerte maken</button>
                        }
                      </div>
                    </mat-tab>
                    }
                  }
                </mat-tab-group>
              } @else {
                <div class="form-body">
                  <app-form-container
                    [id]="'form'"
                    [container]="form.pages[0]"
                    [showOutline]="form.pages[0].controls.length ==0"
                    [showInvisible]="showInvisible"
                    [isBuilder]="true"
                  ></app-form-container>
                  <div class="form-footer">
                    @if (form.options.createQuotation) {
                      <div></div>
                      <button mat-raised-button color="primary" [disabled]="true">Offerte maken</button>
                    }
                  </div>

                </div>
              }
            </form>
          } @placeholder {
            <mat-spinner></mat-spinner>
          }
        </app-form-page>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>
