.label {
  color: black;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid #0000004a;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.option-content{
  padding: 5px 0;
  & > * {
    width: 100%;
  }
}
.mat-mdc-dialog-content{
  width: 500px;
}
.mat-mdc-dialog-actions {
  border-top: 1px solid;
}

.dependent-separator {
  margin-left: 20px;
}

.dependent-row {
  display: flex;
  padding: 5px;

  .dependent-field {
    flex: 1;
  }

  mat-icon {
    margin: 16px 0;
  }

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.add-dependent {
  display: flex;


  app-autocomplete-field {
    flex: 1;
  }


  button {
    height: 56px;

    mat-icon {
      margin: 0;
    }
  }
}
.no-items {
  padding: 15px 0;
  color: gray;
}
