.published-icon {
  font-size: 25px;
  color: #189383;
}
.template-role {
  background-color: var(--primary-50);
  padding: 3px 8px;
  border-radius: 20px;
  border: 1px solid var(--primary);
  color: var(--primary);
}
