<mat-form-field class="w100" appearance="outline">
  <mat-label>{{ title }}</mat-label>
  <input #input
         type="text"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto"
         (input)="filter()"
         (focus)="filter()"
  >
  <mat-autocomplete [requireSelection]="true" #auto="matAutocomplete" [displayWith]="searchFunction">
    @for (option of filteredOptions;track option) {
      <mat-option [value]="option">
        {{ searchFunction ? searchFunction(option) : option }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
