@use 'sass:map';

// Styles for the components that are based on the current theme.
@mixin theme($theme) {
  $theme-primary: map.get($theme, primary);
  $theme-accent: map.get($theme, accent);
  $theme-warn: map.get($theme, warn);
  $theme-background: map.get($theme, background);
  //$theme-foreground: map.get($theme, foreground);

  // primary colors
  $primary: map.get($theme-primary, 500);
  $primary-800: map.get($theme-primary, 800);
  $primary-50: map.get($theme-primary, 50);

  // accent colors
  $accent: map.get($theme-accent, 500);

  // warn colors
  $warn: map.get($theme-warn, 500);
  $warn-50: map.get($theme-warn, 50);

  // background colors
  $background: map.get($theme-background, background);
  $background-accent: map.get($theme-background, background-accent);

  // foreground colors
  //$fg-color: map.get($theme-foreground, color);

  .primary-text {
    color: $primary;
  }
  .primary {
    background-color: $primary;
  }
  .primary-50 {
    background-color: $primary-50;
  }

  .warn-text {
    color: $warn;
  }
  .warn {
    background-color: $warn;
  }
  .warn-50 {
    background-color: $warn-50;
  }
  .background-accent {
    background-color: $background-accent !important;
  }
  body {
    background-color: $background;
  }
  .footer {
    background-color: $background;
  }

  @keyframes loading {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      background-color: $accent;
    }

    50% {
      transform: perspective(120px) rotateX(180deg) rotateY(0deg);
      background-color: $primary-800;
    }

    100% {
      transform: perspective(120px) rotateX(180deg) rotateY(-180deg);
      background-color: $accent;
    }
  }
}
