@if (formService.form$ | async; as form) {
  <mat-drawer-container class="container background-accent" [hasBackdrop]="false">

    <mat-drawer #drawer mode="side" position="end">
      @if (form.options.createQuotation) {
        <app-quotation>
          <ng-container validate>
            <mat-error>
            @for (error of getFormValidationErrors(); track error) {
              <li>{{formService.findControlById(error)?.options?.label}}</li>
            }
            </mat-error>
          </ng-container>
<!--          <mat-error *ngIf="getFormValidationErrors().length != 0">Controleer de-->
<!--            velden: {{getFormValidationErrors()}}</mat-error>-->
          <ng-container *ngTemplateOutlet="submitFormBtn" action></ng-container>
        </app-quotation>
      }
    </mat-drawer>

    <mat-drawer-content>
      @if (form.options.createQuotation) {
        <div class="quotation-toggle" (click)="drawer.toggle()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
      }
      <div class="form-builder">
        <div class="buttons">
          <div></div>
          <div>
            @if(config){
              <mat-slide-toggle [(ngModel)]="config.published" color="primary">Gepubliceerd</mat-slide-toggle>
            }

            <button mat-raised-button color="primary"
                    [routerLink]="'/customers/'+customerId+'/configurations/'+config?.id"
                    [queryParams]="{type:'intern'}">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            @if (form.options.model3D) {
              <button mat-raised-button color="primary" (click)="openPreviewDialog()">
                <mat-icon>3d_rotation</mat-icon>
              </button>
            }
            <button mat-raised-button color="primary" (click)="saveForm()" [disabled]="saving">
              <mat-icon *ngIf="!saving">save</mat-icon>
              <mat-spinner class="white" *ngIf="saving" [diameter]="20">save</mat-spinner>
            </button>
          </div>

        </div>
        <app-form-page [title]="config?.title??''" [subtitle]="config?.customer?.name??''"
                       prevLink="/customers/{{config?.customer?.dealId}}" [canEdit]="true"
                       (newName)="config!.title=$event">
          @defer (when form.pages.length > 0) {
            <form [formGroup]="formService.formGroup$.getValue()">
              @if (form.pages.length > 1) {
                <mat-tab-group [(selectedIndex)]="tabIndex" color="primary">
                  @for (page of form.pages; track page) {
                    @if (showPage(page)) {
                      <mat-tab [label]="page.tab!">
                        <div class="form-body">
                          <app-form-container
                            [container]="page"
                          ></app-form-container>
                        </div>
                        <div class="form-footer">
                          <button mat-raised-button color="primary" (click)="prev()"
                                  [disabled]="tabIndex==0">Vorige
                          </button>
                          @if (tabIndex != (tabCount - 1)) {
                            <button mat-raised-button color="primary" (click)="next()">Volgende</button>
                          }
                          @if (tabIndex == (tabCount - 1) && form.options.createQuotation) {
                            <ng-container *ngTemplateOutlet="submitFormBtn"></ng-container>
                          }
                        </div>
                      </mat-tab>
                    }
                  }
                </mat-tab-group>
              } @else {
                <div class="form-body">

                  <app-form-container
                    [container]="form.pages[0]"
                  ></app-form-container>
                  <div class="form-footer">
                    @if (form.options.createQuotation) {
                      <div></div>
                      <ng-container *ngTemplateOutlet="submitFormBtn"></ng-container>
                    }
                  </div>

                </div>
              }
            </form>
          } @placeholder {
            <mat-spinner></mat-spinner>
          }
        </app-form-page>
      </div>
      @if (loading) {
        <div class="loading-overlay fixed">
          <div class="loading"></div>
        </div>
      }
    </mat-drawer-content>
  </mat-drawer-container>
}
<ng-template #submitFormBtn>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!formService.formGroup$.getValue().valid">
    Offerte maken
  </button>
</ng-template>
