mat-form-field {
  width: 100%;
}
.options-list {
  .option-box{
    padding: 5px;
    display: flex;
    mat-icon {
      margin: 5px;
      &.move-icon {
        &:hover {
          cursor: move;
        }
      }
      &.close-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    input {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid;
    }
  }
}

.option-box-placeholder {
  background: #ccc;
  border-radius: 5px;
  border: dotted 3px #999;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
