@use '../../../../node_modules/@angular/material/index' as mat;
@use 'sass:map';
@use "../components.style" as components;
@use "./warn.scss" as warn;


@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$background-color: #fafafa;
$background-accent-color: #e5e5e5;

$palette: (
  50 : #fcede5,
  100 : #f9d2be,
  200 : #f5b493,
  300 : #f09568,
  400 : #ed7f47,
  500 : #ea6827,
  600 : #e76023,
  700 : #e4551d,
  800 : #e14b17,
  900 : #db3a0e,
  A100 : #ffffff,
  A200 : #ffdbd4,
  A400 : #ffb1a1,
  A700 : #ff9c87,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat.define-palette($palette);
$accent: mat.define-palette(mat.$brown-palette);
$warn: mat.define-palette(warn.$md-warn);

// color config function
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$background: map-get($theme, background);
$background: map_merge($background, (
  background: $background-color,
  background-accent:$background-accent-color
));
$theme: map_merge($theme, (background: $background));


@include mat.all-component-themes($theme);
@include components.theme($theme);

