@use '../../../../node_modules/@angular/material/index' as mat;
@use 'sass:map';
@use "../components.style" as components;


@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$background-color: #fafafa;
$background-accent-color: #e5e5e5;

$palette: (
  50 : #ffefe9,
  100 : #ffcdbd,
  200 : #ffab91,
  300 : #fa9c7e,
  400 : #ff7043,
  500 : #ff5722,
  600 : #ff4f1e,
  700 : #ff4619,
  800 : #ff3c14,
  900 : #ff2c0c,
  A100 : #ffffff,
  A200 : #fff7f6,
  A400 : #ffc9c3,
  A700 : #ffb2a9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat.define-palette($palette);
$accent: mat.define-palette(mat.$brown-palette);
$warn: mat.define-palette(mat.$red-palette, 700);

// color config function
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$background: map-get($theme, background);
$background: map_merge($background, (
  background: $background-color,
  background-accent:$background-accent-color
));
$theme: map_merge($theme, (background: $background));


@include mat.all-component-themes($theme);
@include components.theme($theme);

