// from libs
@use '../../../../node_modules/@angular/material/index' as mat; // Theming APIs
@use 'sass:map';

// from project
@use 'theming'; // color config function
@use "../components.style" as components; // @mixin with custom components


@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

// just colors
$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);
$orange-primary-text: rgba(199,91,57, 0.87);
$orange-secondary-text: rgba(199,91,57, 0.54);
$orange-disabled-text: rgba(199,91,57, 0.38);
$orange-dividers: rgba(199,91,57, 0.12);
$orange-disabled-button: rgba(199,91,57, 0.12);
$orange-focused: rgba(199,91,57, 0.12);

$my-dd-palette: (
  50: #e3f2fd,
  100: #bcdbcf,
  200: #68ac85,
  300: #5b9691,
  400: #65919f,
  500: #4d7d98,
  600: #525d9e,
  700: #415098,
  800: #334d9c ,
  900: #2e3785,
  A100: #68ac85,
  A200: #525d9e,
  A400: #334d9c,
  A700: #2e3785,
  contrast: (
    50: $dark-primary-text,
    200: $dark-primary-text,
    100: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


$dd-primary: mat.define-palette(mat.$indigo-palette, 500);
$dd-accent: mat.define-palette($my-dd-palette, A400, A100, A200);
$dd-warn: mat.define-palette(mat.$red-palette, 700);

$dd-theme: mat.define-light-theme((
  color: (
    primary: $dd-primary,
    accent: $dd-accent,
    warn: $dd-warn
  )
));

@include mat.all-component-themes($dd-theme);

// Add @mixin from our ../components.style
@include components.theme($dd-theme);
