@if (formService.form$ | async;as form) {
  <div class="buttons">
    <div></div>
    <div>
      <mat-slide-toggle [(ngModel)]="showInvisible">verborgen velden</mat-slide-toggle>
      <button mat-raised-button color="accent" (click)="saveForm()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="formService.toggleFormSettings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

  </div>
  <div class="page">
    <div class="form-header d-flex justify-content-between">
      <div class="logo"><img src="../../../../../assets/images/logo_zwart.png" alt="logo"></div>
      <h1>{{ form.title }}</h1>
      <div class="settings-btn">
      </div>
    </div>
    <form [formGroup]="formService.formGroup$.getValue()">
      @if (form.pages.length > 1) {
        <mat-tab-group [(selectedIndex)]="tabIndex" color="primary">
          @for (page of form.pages;track page; let idx = $index) {
            <mat-tab [label]="page.tab!">
              <div class="form-body">
                <app-form-container
                  [id]="'form'+ idx"
                  [container]="page"
                  [showOutline]="page.controls.length ==0"
                  [showInvisible]="showInvisible"
                  [isBuilder]="true"
                ></app-form-container>
              </div>
              <div class="form-footer">
                <button mat-raised-button color="primary" (click)="prev()"
                        [disabled]="tabIndex==0">Vorige
                </button>
                @if (tabIndex != (tabCount - 1)) {
                  <button mat-raised-button color="primary" (click)="next()">Volgende</button>
                }
                @if (tabIndex == (tabCount - 1) && form.createQuotation) {
                  <button mat-raised-button color="primary">Offerte maken</button>
                }
              </div>
            </mat-tab>
          }
        </mat-tab-group>
      } @else {
        <div class="form-body">
          @if (form.pages.length > 0) {
            <app-form-container
              [id]="'form'"
              [container]="form.pages[0]"
              [showOutline]="form.pages[0].controls.length ==0"
              [showInvisible]="showInvisible"
              [isBuilder]="true"
            ></app-form-container>
            <div class="form-footer">
              @if (form.createQuotation) {
                <div></div>
                <button mat-raised-button color="primary" (click)="submit()">Offerte maken</button>
              }
            </div>
          } @else {
            <mat-spinner></mat-spinner>
          }
        </div>
      }
    </form>
  </div>
}
