/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "assets/theme/components.style" as components;
@use "assets/theme/custom-themes/different-doors-theme" as different-doors-theme;

$color-config: different-doors-theme.$theme;

@include mat.core();

//@include mat.all-component-themes($color-config);
//@include components.theme($color-config);


body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
}


.content {
  padding: 8px;

  .layout-content {
    margin: 16px;
    box-sizing: border-box;

    .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.text-center {
  text-align: center;
}

.w100 {
  width: 100% !important;
}

.w75 {
  width: 75% !important;
}

.w50 {
  width: 50% !important;
}

.w25 {
  width: 25% !important;
}

button {
  mat-icon {
    //margin: 0 !important;
  }
}

mat-icon {
  vertical-align: middle;
}

mat-spinner {
  margin: 10px auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.full-height {
  min-height: calc(100vh - 116px) !important;
}

.loading-overlay {
  &.fixed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    top: 0;
    z-index: 10;
    left: 0;
  }

  .loading {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    margin: -15px 0 0 -15px;
    width: 40px;
    height: 40px;
    z-index: 10;
    animation: loading 2s infinite ease-in-out;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: #189383 !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: var(--warn) !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}
