<mat-drawer-container class="container" [hasBackdrop]="false">

  <mat-drawer #drawer mode="side" position="end">
    <app-configuration-history></app-configuration-history>
  </mat-drawer>

  <mat-drawer-content class="form">
    <div class="buttons">
      <div></div>
      <div>
        <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
          {{ visibleFor.label }}
        </button>
        <mat-menu #menu="matMenu">
          @for (view of viewOptions; track view){
            <button mat-menu-item (click)="changeVisibleFor(view)">{{view.label}}</button>
          }
        </mat-menu>
        <button mat-raised-button color="accent" [routerLink]="'edit'">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="quotation-toggle" (click)="drawer.toggle()">
      <mat-icon>history</mat-icon>
    </div>
    <div class="page">
      <div class="form-header d-flex justify-content-between">
        <div class="logo"><img src="../../../../assets/images/logo_zwart.png" alt="logo"></div>
        <div class="title">
          <h1>{{ configuration?.title }}</h1>
          <small>{{ configuration?.customer?.name }}</small>
        </div>

        <div class="settings-btn">
        </div>
      </div>
      <div class="form-content">
        @defer (when configuration) {
          @if (configuration?.preview) {
            @if (configuration?.preview?.url3D) {
              <iframe style="height: 500px; width: 100%" [src]="safe3dUrl"
                      frameborder="0"></iframe>
            }
          }
          @for (page of values;track page) {
            @if (page.values.length > 0) {
              <div class="form-section">
                <h2>{{ page.page }}</h2>
                @for (value of page.values;track value) {

                  @switch (value.type) {
                    @case ('TextArea') {
                      <h2>{{ value.title }}</h2>
                      <div [innerHTML]="value.value | safeHtml"></div>
                    }
                    @case ('InfoBox') {
                      <h2>{{ value.title }}</h2>
                      <div [innerHTML]="value.subtitle | safeHtml"></div>
                    }
                    @case ('InfoImage') {
                      @if (value.value) {
                        <img [src]="value.value.url+'?name='+value.value.name" alt="afbeelding">
                      }
                    }
                    @case ('Divider') {
                      <hr>
                    }
                    @case ('ImageUpload') {
                      <h2 class="break">{{ value.title }}</h2>
                      <img [src]="value.value.url+'?name='+value.value.name" alt="afbeelding">
                    }
                    @case ('FileUpload') {
                      <h2 class="break">{{ value.title }}</h2>
                      <div class="files-list">
                        <a class="single-file" [href]="value.value.url" target="_blank">
                          <div class="file-icon" style="width: 40px; height: 36px">
                            <img src="assets/images/file-icon.svg" alt="icon">
                          </div>
                          <div class="info">
                            <div class="name">
                              {{ value.value.name }}
                            </div>
                          </div>
                        </a>
                      </div>
                    }
                    @case ('Table') {
                      <table>
                        @for (valueRow of value.value;track valueRow) {
                          <tr>
                            @for (column of value.fields;track column) {
                              @if ($first) {
                                <th>{{ valueRow[column.key] }}</th>
                              } @else {
                                <td>{{ column.key }}: {{ valueRow[column.key] }}</td>
                              }
                            }
                          </tr>
                        }
                      </table>
                    }
                    @default {
                      <table>
                        <tr>
                          <th>{{ value.title }}<br>@if (value.subtitle) {
                            <span>({{ value.subtitle }})</span>
                          }</th>
                          @if (value.columns) {
                            @for (index of [0, 1, 2];track index) {
                              @if (value.columns[index]) {
                                <td>
                                  @if (value.columns[index].title) {
                                    <span>{{ value.columns[index].title }}</span><br>
                                  }
                                  {{ value.columns[index].value }}
                                </td>
                              }
                            }
                          } @else if (!value.columns) {
                            <td colspan="3">{{ value.value }}</td>
                          }
                        </tr>
                      </table>
                    }
                  }
                }
              </div>
            }
          }
        } @placeholder {
          <mat-spinner></mat-spinner>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
